@import "tailwindcss";

@theme {
  --color-gray-950: #2A2A2A;
  --color-gray-700: #4C545C;
  --color-gray-500: #9EABB2;
  --color-gray-50: #F5F7F7;

  --color-green-500: #26BBA4;
  --color-green-300: #5DCCBB;

  --color-blue-500: #6174FF;
  --color-blue-400: #8897FF;

  --font-bai: "Bai Jamjuree", sans-serif;
  --text-base: 16px;
  --leading-base: 150%;
  --tracking-base: 0.15px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Bai Jamjuree", sans-serif;
}